{% extends 'base.html.twig' %}
{% block title %}
    Nos Partenaires
{% endblock %}
{% block body %}
    <main id="concept" class="container-fluid p-3">
        <header class="row text-center pt-5">
            <h1>Nos Partenaires</h1>
        </header>
        <section class="col-md-12 text-center justify-content-between align-items-center p-3">
            <div class="row justify-content-center">
                {% for key, Partenaire in Partenaires %}
                    <article class="rounded-custom bg-light bg-opacity-75 col-md-4 p-4 m-4" {% if key == 0 %} active {% endif %}>
                        <img class='img-fluid m-4 rounded' src="assets/images/{{Partenaire.illustration}}" alt="Logo" width="250px">
                        <h3 class="card-title">{{Partenaire.entreprise}}</h3>
                        <p class="card-text">{{Partenaire.adresse}}</p>
                        <p class="card-text">{{Partenaire.email}}</p>
                        <p class="card-text">{{Partenaire.telephone}}</p>
                        <p class="card-text">{{Partenaire.description}}</p>
                        <a href="{{Partenaire.SiteWeb}}" class="btn btn-primary mb-3">Visiter le site</a>
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
