{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse{% endblock %}

{% block body %}
<section id="concept" class="container-fluid p-3">
    <header class="row text-center pt-5">
        <h1>Ajouter une adresse</h1>
    </header>

    <article id="conceptExplain" class="col-md-6 mx-auto mb-4 p-5">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_row(form.Nomadresse) }}
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                {{ form_row(form.Nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.Prenom) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_row(form.Adresse) }}
        </div>

        <div class="form-group">
            {{ form_row(form.Ville) }}
        </div>

        <div class="form-group">
            {{ form_row(form.Pays) }}
        </div>

        <div class="form-group">
            {{ form_row(form.Tel) }}
        </div>

        <div class="form-group col-md-6 mx-auto">
            {{ form_row(form.submit) }}
        </div>

        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
