<!-- ======= Footer ======= -->
<footer class="site-footer container-fluid">
    <div id='footer' class='row align-items-center justify-content-between p-3'>
        <div class="col-md-3 text-center">
            <img class='img-fluid' src="{{ asset('assets/images/facebook.svg') }}" alt="Facebook" width="30px">
            <img class='img-fluid' src="{{ asset('assets/images/instagram.svg') }}" alt="Instagram" width="30px">
            <img class='img-fluid' src="{{ asset('assets/images/snap.svg') }}" alt="Snapchat" width="30px">
        </div>
        <div class="col-md-3 text-center">
            <a href="{{ path('app_mensions_legales') }}">
                <strong>CGV</strong> | <strong>Mentions légales</strong>
            </a>
            <br>
            <span>Copyright Bob&Tintin | DWWM@2024</span>
        </div>
        <div class="col-md-3 text-center pr-3">
            <a id="backToTop" href="#">
                <img id='logonav' src="{{ asset('assets/images/up.png') }}" alt="Back to Top" width="50px">
            </a>
        </div>
    </div>
</footer>